* {
	border: none;
	border-radius: 0;
	all: initial;
	font-family: JetBrains Mono, Siji;
	font-size: 14px;
	margin: 0px;
	padding: 0px;
	font-weight: normal;
	min-height: 0;
	background-color: black;
	color: white;
}


#workspaces button {
	border: none;
	color: black;
	background-color: transparent;
	padding: 2px;
	margin: 2px;
}

#workspaces button.active {
	border: none;
	color: black;
    background-color: #a6adc8;
	padding: 2px;
	margin: 2px;
}

#workspaces button.focused {
	border: none;
	color: black;
    background-color: #f1c453;
	padding: 2px;
	margin: 2px;
}

#workspaces button.urgent {
	border: none;
	color: black;
    background-color: #eba0ac;
	padding: 2px;
	margin: 2px;
}

#workspaces button:hover {
	border: none;
	color: black;
    background-color: #cdd6f4;
	padding: 2px;
	margin: 2px;
}
